* {
    font-family: 'Shojumaru', cursive;
}

#container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d8bd93 url('https://images.unsplash.com/photo-1521710927254-3dd9ef96a3fa?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ')
}

#head {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #90572E;
  color: #FFF;
  text-shadow: 1px 1px 2px #000;
  font-size: 2.2rem;
  margin: 0 0 20px 0;
}
#timer,
#timer-cont,
#points-cont {
 font-size: 1.2rem;
  color: #F6DFB1;
}
#timer,
#points {
  letter-spacing: 5px;
  font-size: 1.5rem;
  color: white;
}

#body-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#gameboard-container {
  width: 470px;
  height: 470px;
  background-color: #9d6037;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 16px black;
}

#inner-frame {
  width: 430px;
  height: 430px;
  background-color: #8D6E63;
  display: grid;
  grid-template: repeat( 4, 1fr) / repeat( 4, 1fr);
  justify-items: center;
  align-items: center;
}

.die-container {
  width: 100%;
  height: 100%;
  justify-items: center;
  background-color: tan;
  border: 4px solid #3E2723;
  display: flex;
  justify-content: center;
  align-items: center;
}

.die {
  width: 75%;
  height: 75%;
  background-color: #fff;
  box-shadow: 0 0 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Shojumaru', cursive;
  font-size: 3.2rem;
}

.selected {
  background-color: #9D392A;
  color: #FFF;
}

.btnSection {
  display: flex;
}

.btn-cont {
  margin: 20px;
}

.boggleBtn {
  padding: 15px;
  font-size: 2rem;
  background-color: #fff;
  box-shadow: 1px 1px 2px 1px black;
}
.boggleBtn:active {
  box-shadow: inset 1px 1px 2px 1px black;
}

/* WORD LIST */
#word-list-container {
  width: 100%;
  height: auto;
  background-color: #f3f0e4;
  padding: 20px;
  box-shadow: 0 0 5px black;
}
#word-list-header {
  font-size: 2rem;
  text-decoration: underline;
  margin-bottom: 10px;
}
#word-list {
  width: 100%;
  line-height: 230%;
  font-family: 'Open Sans', sans-serif;
  list-style-type: decimal;
  padding-left: 40px;
}
#word-list > li {
  font-size: 1.8rem;
}
.notaWord {
  text-decoration: line-through;
}

/* INSTRUCTIONS */
#instructions-cont {
  width: 100%;
  padding: 10px 0 30px;
  display: flex;
  justify-content: center;
}
#instructions {
  width: 85%;
  background-color: #fff;
  font-family: Merriweather, serif;
  font-size: 1.2rem;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.instr-text {
  margin: 10px 0;
  text-align: justify;
  font-weight: bold;
}
.instr-list {
  margin: 0 0 0 40px;
}
#instructions ul > li {
  list-style-type: circle;
  line-height: 150%;
}
